html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: $dark-500;
  background-color: #fff;
}



.main {
  flex-grow: 1;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  color: $dark-900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 72px;
}
