$dark-500: #505050;
$dark-800: #31352B;
$dark-900: #121212;

$green-100: #EFF6E7;
$green-200: #E0EDCF;
$green-900: #63A60F;

$silver-100: #F6F6F6;
$silver-200: #c1c1c1;
$silver-600: #e7c5c5;

$red-900: #CF3E3B;

$orange-900: #FF7A00;

$yellow-900: #FFB800;


$white: #FFFFFF;

%bg-set {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}