@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.logo {
  max-width: 200px;
  width: 100%;
  margin-right: 24px;
}

.product-card {
  position: relative;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  padding-top: 55px;
  padding-bottom: 18px;
  transition: border-color 0.2s;
  max-width: 300px;
  width: 100%;
  height: 410px;

  &:hover {
    border-color: $green-900;
  }

  &__top {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 12px 7px 12px;
  }

  &__badges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__like {
    width: 32px;
    height: 29px;
    background-image: url(../images/icons/icon-heart.svg);
    @extend %bg-set;
  }

  &__image {
    max-width: 300px;
    width: 100%;
    height: 225px;
    position: relative;
    cursor: pointer;
    &:hover {
      .product-card__overflow{
        opacity: 100%;
      }
    }
  }
  &__icon {
    width: 48px;
    height: 48px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  &__overflow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__info {
    padding: 18px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: $dark-900;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
  }

  &__prices {
    display: flex;
    flex-direction: column;
  }

  &__price {
    line-height: 1;
  }

  &__price--old {
    color: $silver-200;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;

    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons/icon-cart.svg);
      @extend %bg-set;
    }
  }
}

.badge {
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: $white;
  border-radius: 6px;
  letter-spacing: 0.6px;
}

.badge-new {
  background-color: $green-900;
  margin-bottom: 6px;
}

.badge-sale {
  background-color: $red-900;
}

.badge-hit {
  background-color: $orange-900;
}



.header {
  &__top {
    background-color: $dark-800;
    color: $white;
    font-weight: 700;
    font-size: 13px;
    padding: 16px 0;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links-link {
    position: relative;
    padding-left: 44px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:not(:last-child) {
      margin-right: 48px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      @extend %bg-set;
    }
  }

  &__links-link--delivery {
    &::before {
      background-image: url(../images/icons/icon-del.svg);
      width: 32px;
      height: 22px;
    }
  }

  &__links-link--phone {
    &::before {
      background-image: url(../images/icons/icon-tel.svg);
      width: 22px;
      height: 22px;
    }
  }

  &__navigation-list {
    display: flex;
  }

  &__navigation-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__navigation-link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    background-color: $green-900;
    padding: 25px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    position: relative;
    background-color: $white;
    color: $green-900;
    font-weight: 600;
    max-width: 240px;
    width: 100%;
    padding: 15px 38px 15px 61px;
    margin-right: 30px;
    border-radius: 6px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $green-200;
    }

    &:active {
      background-color: $green-200;
    }

    &:focus {
      background-color: $green-200;
    }


    &::after,
    &::before {
      content: '';
      position: absolute;
      @extend %bg-set;
    }

    &::after {
      background-image: url(../images/icons/header-btn-arrow.svg);
      width: 7px;
      height: 4px;
      top: 24px;
      right: 18px;
    }

    &::before {
      background-image: url(../images/icons/header-btn-burger.svg);
      width: 25px;
      height: 17px;
      top: 17px;
      left: 18px;
    }
  }

  &__form {
    max-width: 576px;
    width: 100%;
    margin-right: 55px;
  }

  &__search {
    position: relative;
    padding: 15px 0 15px 51px;
    max-width: 420px;
    width: 100%;
    border-radius: 6px 0 0 6px;
    background-image: url(../images/icons/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
  }

  &__form-btn {
    background-color: $dark-800;
    color: $white;
    font-weight: 600;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    margin-left: -3px;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($dark-800, 0.9);
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    &::before {
      content: '';
      position: absolute;
      background-color: rgba($white, 0.1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
    }

    &:hover {
      &::before {
        opacity: 100%;
      }
    }
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 10px;
    font-weight: 600;
    color: $red-900;
    top: 0;
    left: 0;
  }
}

.hero {
  position: relative;

  &__slider {
    position: relative;
  }

  &__item {
    @extend %bg-set;
    height: 600px;
    display: flex !important;
    align-items: center;
  }

  &__content {
    background-color: rgba($white, 0.8);
    padding: 24px;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: $dark-500;
    line-height: 1.3;
    margin-bottom: 12px;
    max-width: 760px;
  }

  &__title--mod {
    display: block;
    color: $red-900;
  }

  &__description {
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__arrow {
    position: absolute;
    top: 37%;
    width: 60px;
    height: 60px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 22%;
      @extend %bg-set;
      width: 19px;
      height: 32px;
    }
  }

  &__arrow-prev {
    left: 15px;

    &::after {
      left: 31%;
      background-image: url(../images/icons/icon-arrow-left.svg);
    }
  }

  &__arrow-next {
    right: 15px;

    &::after {
      right: 31%;
      background-image: url(../images/icons/icon-arrow-right.svg);
    }
  }

  &__advantages {
    padding-top: 48px;
    padding-bottom: 30px;
    background-color: $silver-100;
  }

  &__advantages-list {
    display: flex;
    justify-content: center;
  }

  &__advantages-item {
    max-width: 265px;
    width: 100%;
    padding-left: 75px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      @extend %bg-set;
      width: 50px;
      height: 50px;
    }

    &:first-child {
      &::before {
        background-image: url(../images/hero/scooter.svg);
      }
    }

    &:nth-child(2) {
      &::before {
        background-image: url(../images/hero/folder.svg);
      }
    }

    &:last-child {
      &::before {
        background-image: url(../images/hero/day.svg);
      }
    }

    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__advantages-title {
    font-weight: 600;
    margin-bottom: 6px;
  }
}

.products {
  &__filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__filter {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 3px;
      background-color: #E0EDCF;
      transition: width 0.3s;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
  }


  &__button {
    margin: 0 auto;
    font-weight: 400;
    border-color: $green-900;
    background-color: $white;
    color: $green-900;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba($green-900, 0.1);
    }
  }
}

.mixitup-control-active {
  &::after {
    width: 100%;
  }
}

.footer {
  background-color: $dark-800;
  color: $white;
  padding-top: 30px;

  &__logo {
    display: block;
    margin-bottom: 30px;
  }
}

.footer-top {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    margin-bottom: 18px;
  }

  &__inner {
    display: flex;
    justify-content: center;

  }

  &__input {
    padding: 12px;
    border-radius: 6px 0px 0px 6px;
    line-height: 1;
  }

  &__button {
    color: $white;
    padding: 14px;
    background-color: #63A60E;
    border-radius: 0px 6px 6px 0px;
    // margin-left: -4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }
  
  &__list {
    column-count: 3;
    column-gap: 75px;
  }
  &__item{
    margin-bottom: 18px;
  }
  &__link {
    transition: color 0.3s;
    &:hover{
      color: rgba($white, 0.7);
    }
  }
  &__info {
    display: flex;
    flex-direction: column
  }
  &__social {
    display: flex;
  }
  &__icons {
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__svg {
    fill: $white;
    transition: fill 0.3s;
    &:hover {
      fill: rgba($white, 0.7)
    }
  }

  &__help {
    margin-bottom: 18px;
    transition: color 0.3s;
    &:hover {
      color:rgba($white, 0.7);
    }
  }
}

.footer-bottom {
  border-top: 1px solid rgba($white, 0.1); 
  padding: 24px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  &__copy{
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item{
    &:not(:last-child){
      margin-right: 24px;
    }
  }
}







@import 'media';