<section class="section banners">
  <h2 class="sr-only">Акции, скидки</h2>
  <div class="container">

    <div class="banners__inner">

      <ul class="banners__list">

        <li class="banners__item" style="background-image: url(images/sale1.jpg);">
          <p class="banners__description">свежайшие фрукты</p>

          <h3 class="banners__title">начни фруктовое лето
            всего от 99 ₽
          </h3>
          <a class="banners__btn" href="#">перейти к покупкам</a>
        </li>

        <li class="banners__item" style="background-image: url(images/sale2.jpg);">
          <p class="banners__description">сезонная распродажа</p>
          <h3 class="banners__title">овощепад
            до -50% </h3>
          <a class="banners__btn" href="#">перейти к покупкам</a>
        </li>

        <li class="banners__item" style="background-image: url(images/sale3.jpg);">
          <p class="banners__description">ням-ням</p>
          <h3 class="banners__title">свежий
            хлебчик</h3>
          <a class="banners__btn" href="#">перейти к покупкам</a>
        </li>

      </ul>
    </div>
  </div>
</section>