<section class="section brands">
  <div class="container">
    <h2 class="sr-only">Брэнды</h2>

    <ul class="brands__list">
      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/Sprite.svg" width="80" height="33" alt="логотип sprite">
        </a>
      </li>

      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/dr-pepper.svg" width="80" height="57" alt="логотип sprite">
        </a>
      </li>

      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/CocaCola.svg" width="80" height="26" alt="логотип sprite">
        </a>
      </li>

      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/pepsi.svg" width="80" height="30" alt="логотип sprite">
        </a>
      </li>

      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/redbull.svg" width="80" height="48" alt="логотип sprite">
        </a>
      </li>

      <li class="brands__item">
        <a class="brands__link" href="#">
          <img class="brands__img" src="images/icons/brands/fanta.svg" width="80" height="58" alt="логотип sprite">
        </a>
      </li>

    </ul>
  </div>
</section>