<section class="section news">
  <div class="container">

    <div class="news__top">
      <h2 class="title news__title">наши новости</h2>
      <a class="news__btn" href="#">все новости</a>
    </div>

    <ul class="news__list">

      <li class="news__item">

        <a class="news__link" href="#">
          <div class="news__banner">
            <img class="new__img" width="410" height="240" src="images/news/1.jpg" alt="Клубника" >
          </div>
          <p class="news__description">
            Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК.
            Торопись, пока всё не разобрали!
          </p>
          <div class="news__date">
            <span class="news__month">июль</span>
            <span class="news__day">15</span>
          </div>
        </a>
      </li>

      <li class="news__item">

        <a class="news__link" href="#">
          <div class="news__banner">
            <img class="new__img" src="images/news/2.jpg" width="410" height="240" alt="Манго" >
          </div>
          <p class="news__description">
            Шикарнейший выбор манго в нашем онлайн-маркете
          </p>
          <div class="news__date">
            <span class="news__month">май</span>
            <span class="news__day">07</span>
          </div>
        </a>
      </li>

      <li class="news__item">

        <a class="news__link" href="#">
          <div class="news__banner">
            <img class="new__img" src="images/news/3.jpg" width="410" height="240" alt="Папайя" >
          </div>
          <p class="news__description">
            Всё, что вы хотели знать о папайя
          </p>
          <div class="news__date">
            <span class="news__month">февраль</span>
            <span class="news__day">20</span>
          </div>
        </a>
      </li>

    </ul>

  </div>
</section>