<section class="section top-products" data-ref="container-1">
  <div class="container">

    <h2 class="title">Топовые товары</h2>

    <ul class="filters">

      <li class="filters__item">
        <button class="filters__btn" type="button" data-filter="all">все товары</button>
      </li>

      <li class="filters__item">
        <button class="filters__btn" type="button" data-filter=".category-a">фрукты</button>
      </li>

      <li class="filters__item">
        <button class="filters__btn" type="button" data-filter=".category-b">овощи</button>
      </li>

      <li class="filters__item">
        <button class="filters__btn" type="button" data-filter=".category-c">напитки</button>
      </li>

      <li class="filters__item">
        <button class="filters__btn" type="button" data-filter=".category-d">бакалея</button>
      </li>

    </ul>

    <ul class="top-products__list">
      <li class="top-products__item  mix category-a">

        <article class="product-card">

          <div class="badges">
            <span class="badge badge--new">новинка</span>
            <span class="badge badge--sale">-50%</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

            <img class="product-card__img" width="300" height="225" src="images/products/1.jpg" alt="Ананас">

          <h3 class="product-card__title">Ананас, 1кг</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-old">1999 ₽</span>
              <span class="product-card__price-new">999 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item  mix category-a">

        <article class="product-card">

          <div class="badges">

          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

            <img class="product-card__img" width="300" height="225" src="images/products/2.jpg" alt="Лимон">

          <h3 class="product-card__title">Лимон, 1кг</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">199 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item  mix category-a">

        <article class="product-card">

          <div class="badges">
            <span class="badge badge--hit">hit</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

            <img class="product-card__img" width="300" height="225" src="images/products/3.jpg" alt="Питахая">

          <h3 class="product-card__title">Питахайя красная с белой мякотью, 1шт</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">1019 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item mix category-b">

        <article class="product-card">
          <div class="badges">
            <span class="badge badge--new">новинка</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <div class="product-card__image">
            <img class="product-card__img" width="300" height="225" src="images/products/4.jpg" alt="Перерц">
          </div>



          <h3 class="product-card__title">Перец оранжевый, 1кг</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">349 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item mix category-b">

        <article class="product-card">

          <div class="badges">
            <span class="badge badge--hit">hit</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <div class="product-card__image">
            <img class="product-card__img" width="300" height="225" src="images/products/5.jpg" alt="Морковь">
          </div>



          <h3 class="product-card__title">Морковь молодая с бабушкиной грядки, 1кг</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">49 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item mix category-c">

        <article class="product-card">

          <div class="badges">
            <span class="badge badge--sale">-30%</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <div class="product-card__image">
            <img class="product-card__img" width="300" height="225" src="images/products/6.jpg" alt="Безалкогольный напиток">
          </div>



          <h3 class="product-card__title">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
            безалкогольн...</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-old">299 ₽ </span>
              <span class="product-card__price-new">199 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item mix category-c">

        <article class="product-card">

          <div class="badges">
            <span class="badge badge--new">новинка</span>
          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>


          <div class="product-card__image ">
            <img class="product-card__img" width="300" height="225" src="images/products/7.jpg" alt="Кофе с коноплей">
          </div>



          <h3 class="product-card__title">Кофе с коноплей органический Caffé Salomoni 250г </h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">877 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

      <li class="top-products__item mix category-d">

        <article class="product-card">
          <div class="badges">

          </div>
          <button class="product-card__like" type="button">
            <svg class="product-card__heart">
              <use href="images/sprite.svg#icon-heart"></use>
            </svg>
          </button>

          <div class="product-card__image">
            <img class="product-card__img" width="300" height="225" src="images/products/8.jpg" alt="Кетчуп детский">
          </div>


          <h3 class="product-card__title">Кетчуп томатный детский органический Bio-Zentrale 500мл</h3>
          <div class="product-card__box">

            <div class="product-card__offers">
              <span class="product-card__price-new">600 ₽ </span>
            </div>

            <button class="product-card__buy" type="button"></button>

          </div>


        </article>
      </li>

    </ul>

    <a class="btn top-products__button">Показать еще</a>
  </div>
</section>